@model IEnumerable<dynamic>

@foreach (var item in Model)
{
    <tr>
    <td>@item.MaThuoc</td>
    <td>@item.TenThuoc</td>
    <td>@item.HamLuong</td>
    <td>@item.HoatChat</td>
    <td>@item.DonViTinh</td>
    <td>@item.Gia</td>
    <td>@item.TenNhom</td>
    <td>
        <button type="button" class=" btn btn-primary btn-icon-text" data-toggle="modal" data-target="#editModal"
            onclick="openEditModal(@item.MaThuoc, '@item.TenThuoc', '@item.HamLuong', '@item.HoatChat', '@item.DonViTinh', '@item.Gia' )">
            <i class="fa fa-file btn-icon-prepend"></i> Sửa
        </button>
        <button type="button" class="btn btn-danger btn-icon-text" onclick="confirmDelete(@item.MaThuoc)">
            <i class="fa fa-trash btn-icon-prepend"></i> Xoá
        </button>
    </td>
</tr>
}
